.post-display {
  background-color: white;
  border-bottom: solid rgba(154, 154, 154, 0.242) 1px;
  font-family: 'Dosis', sans-serif;
}

h2 {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

}

h1,
h2 {
  padding-left: 40px;
  margin: 0;
}

h1 {
  padding-top: 20px;
}

span {
  padding-right: 20px;
}
